1 DIALOG 1,2,3,4  // can have math in these
BEGIN END

2 DIALOG 1,2,3,4
// Also CHARACTERISTICS, LANGUAGE, VERSION, like other resources
CAPTION "Hi"
BEGIN END

31 DIALOG 1,2,3,4
CLASS "Hi"
BEGIN END

32 DIALOG 1,2,3,4
CLASS 42  // uint16_t; can have math here
BEGIN END

4 DIALOG 1,2,3,4
EXSTYLE 8  // WS_EX_TOPMOST; can have math here
BEGIN END

5 DIALOG 1,2,3,4
// The docs also mention `weight, italic, charset` after these, but rc
// accepts those only in DIALOGEX.
FONT 12, "Inconsolata"
BEGIN END

61 DIALOG 1,2,3,4
MENU "MyMenu"
BEGIN END

62 DIALOG 1,2,3,4
MENU 42
BEGIN END

7 DIALOG 1,2,3,4
STYLE 42  // Not a real WS_ or DS_ style; can have math here.
BEGIN END
