// FIXME: escaping in L"" strings (including \", \0, \ooo\, \xABCD)
// FIXME: exhaustive tests for nul bytes in string literals in all possible
//        places -- rc cuts off strings in some places, embeds them in others.
stringtable {
  1, """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\"
  2, L"asdf"
  3, "\"
  4, "\"""
  5, "\x"
  6, "c\x"
  7, "c\x6"
  8, "c\x61"
  9, "c\x610"
  10, "c\x6101"
  11, "c\xg1"
  12, "c\x0"
  13, "c\x01"
  14, "c\x00"
  15, "c\x000"
  16, "c\0"
  17, "c\00"
  18, "c\000"
  19, "c\0000"
  20, "c\8"
  21, "\0c"
}

1 versioninfo {
  value """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\", """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\"
  value L"asdf", l"jklm"
}

1 rcdata { """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\" }

1 menu {
  menuitem """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\", 4
  menuitem l"adsf", 5
}

1 dialog 1 2 3 4
caption """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\"
class """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\"
font 12, """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\"
menu """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\"
{
  ltext """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\", 51, 0, 1, 100, 80
  control """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\", 52, """\a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\y\z\\", 0, 1, 2, 100, 80
}

2 dialog 1 2 3 4
caption L"asdf"
class L"asdf"
font 12, L"asdf"
menu l"asdf"
{
  ltext L"asdf", 51, 0, 1, 100, 80
  control L"asdf", 52, L"jklm", 0, 1, 2, 100, 80
}
