42 MENU
BEGIN
  MENUITEM "&Item", 101
  MENUITEM "&Item", 102, CHECKED
  MENUITEM "&Item", 102, BITMAP
  MENUITEM "&Item", 102, OWNERDRAW
  MENUITEM "&Item", 103, GRAYED, GRAYED
  MENUITEM "&Item", 104 HELP
  MENUITEM "&Item", 105, INACTIVE
  MENUITEM "&Item", 106, MENUBARBREAK
  MENUITEM "&Item", 107, MENUBREAK
  MENUITEM "&Item", 108, CHECKED, GRAYED
  MENUITEM "&Item", 109, CHECKED GRAYED
  MENUITEM "&Item", 110, INACTIVE,,,,, GRAYED,,,
  MENUITEM SEPaRaTOR
  //Amusingly, rc.exe also accepts POPUP SEPARATOR { MENUITEM "", 0 }
  POPUP "&Popu" { MENUITEM "&Item", 101 }
  POPUP "&Popu", CHECKED { MENUITEM "&Item", 102 }
  POPUP "&Popu", BITMAP { MENUITEM "&Item", 102 }
  POPUP "&Popu", OWNERDRAW { MENUITEM "&Item", 102 }
  POPUP "&Popu", GRAYED { MENUITEM "&Item", 103 }
  POPUP "&Popu", HELP { MENUITEM "&Item", 104 }
  POPUP "&Popu" INACTIVE { MENUITEM "&Item", 105 }
  POPUP "&Popu", MENUBARBREAK { MENUITEM "&Item", 106 }
  POPUP "&Popu", MENUBREAK { MENUITEM "&Item", 107 }
  POPUP "&Popu", CHECKED, GRAYED { MENUITEM "&Item", 108 }
  POPUP "&Popu", CHECKED GRAYED { MENUITEM "&Item", 109 }
  POPUP "&Popu", INACTIVE,,,,, GRAYED,,, { MENUITEM "&Item", 110 }
END
