42 MEnu
BEGIN
    POpUP "&File"
    BEGIN
        POPUP "&Sub"
        BEGIN
            meNUITEM "&Asdf",  500
            MENUITEM "&Fkjl",  501
        END
        MENUITEM "E&xit",      502
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "F&oo",       555
        MENUITEM "&About",     556
    END
END

// Test padding after menu.
43 MENU
BEGIN
    MENUITEM "&foo",  500
END
