42 RCDATA "test/rcdata.rc"
43 RCDATA BEGIN "test/rcdata.rc" END
44 RCDATA { "test/rcdata.rc" }
FOO RCDATA { "asdf" }
FOO.CSS RCDATA { "asdf" }
//44 RCDATA {
  //"asdf1"
  // FIXME: tab escapes, " escaping, numbers, floats, arithmetic
/*
  "c:\as\0d\nf\\d\t"
  "lol""lol"  // has the whacko cmd.exe " rules, but not the \ rules.
  4  5 56.8f 56.8 -2 8 + 9  // FIXME
*/
//END
