STRINGTABLE
BEGIN
1 "no commas"
  2, "one comma"
14, "two entries" 50 "one line"
END

// This is fine, but must have IDs distinct from prior string table.
// The first 16-block has an odd number of uint16_ts, and needs uint32_t padding
STRINGTABLE BEGIN 3 "anotherstringtable" END

// Also has an odd number of uint16_ts, needs padding after it.
STRINGTABLE BEGIN 77 "no" END

// FIXME: test negative IDs, unicode strings, ...
// STRINGTABLEs go at the end of the .res file, no matter where they are in the
// .rc file.

// They are grouped in bundles of 16:
// https://blogs.msdn.microsoft.com/oldnewthing/20040130-00/?p=40813
// If /n is passed to rc.exe, STRINGTABLE strings get \0-terminated.
