STRINGTABLE
BEGIN
1 "no commas"
  2, "one comma"
4, "two entries" 5 "one line"
END


// This is fine, but must have IDs distinct from prior string table.
STRINGTABLE BEGIN 3 "another stringtable" END

// TODO: test negative IDs, unicode strings, ...
// If a .rc file contains at least one STRINGTABLE, a single merged entry for
// all STRINGTABLEs is emitted as the last entry to the .res file.
