1 VERSIONINFO
{
  // rc.exe also accepts 3.5 but it just has value 3 (similar to 3asdf and
  // 3*8 -- suffices on ints are just ignored).
  VALUE "foo", 2, 3, "bar"
  VALUE "foo" 2, 3, "bar"
  VALUE "foo" 2 3 "bar"
  VALUE "foo",,, 2 3,,, "bar",,,,,  // no , after VALUE accepted
  //VALUE "foo" 2 adsf 3,,, "bar"  // "undefined keyword or name: adsf"
  VALUE "foo" 2 + 3 3 "bar"  // Accepted
  //VALUE "foo" BEGIN // Rejected, "expected VALUE, BLOCK, or END keyword"
  //VALUE "foo" 2 3 "bar" + "foo"  // likewise.
  //VALUE "foo" 2 + 3 3 "hi" )( "bar"  // Has funny error messages; but
                                       // with just ) this is accepted.
                                       // Don't bother with this for now.
  // FIXME: L (and l?) suffix on ints

  VALUE "foo" // empty value

  VALUE "key", "val1" "val2"
  VALUE "key", "val1", "val2"

  VALUE "key", "val1" 8 "val2"
  VALUE "key", "val1", 8 "val2"
  VALUE "key", "val1" 8, "val2"
  VALUE "key", "val1" "v" "v", 8, "val2" "v"

  VALUE "key", "val1" 8 "val2",
  VALUE "key", "val1", 8 "val2",
  VALUE "key", "val1" 8, "val2",
  VALUE "key", "val1", 8, "val2",

  VALUE "key", 8 "val1" 9
  VALUE "key", 8, "val1", 9
  VALUE "key", 8 "val1", 9
  VALUE "key", 8, "val1", 9

  VALUE "w", 4L, 2L      // 32
  VALUE "x", 4l, 2L      // 32
  VALUE "y", 4labdf, 2L  // 32
  VALUE "z", 4Labdf, 2L  // 32
  VALUE "a", 4abdfl, 2L  // 16
  VALUE "b", 4abdfL, 2L  // 16

  VALUE "s", 4 + 2L, 5
  VALUE "s2", 4L + 2, 5
  VALUE "s3", 4L + 2L, 5

  BLOCK "empty" {
    // Trailing empty value
    VALUE "foo"
  }

  // several empty values:
  VALUE "foo"
  VALUE "foo"
}
